*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.headd {
    height: 100vh;
    width: 100%;
    background-image:  linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(nature.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}
.para h1 {
    text-align: center;
    color: yellow;
    padding-top: 15px;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.person {
    width: 30vh;
    margin: auto;
    padding: 30px 0;
}

img {
    margin: auto;
    display: block;
    height: 250px;
    border-radius: 50%;

}
.info {
    font-size: 17px;
    color:beige;
    line-height: 1.5;

}
p {
    text-align:center;
    font-weight:lighter;
    font-family:Simonetta;
}
.stickey {
    height: 50px;
    text-align: center;
    position: sticky;
    top: 100%;
}
.stickey a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    background-color: yellow;
    border-radius: 15px;

}

@media screen and (max-width: 767px) {

    .headd {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(mbl-width.jpg);
    }
    img {
        height: 300px;

    }
    .para h1 {
        padding-top: 20px;
    }

}